@font-face {
  font-family : minecraft ;
  src: url('Mojangles.ttf');
}

@font-face {
  font-family : minecraft-ten ;
  src: url('MinecraftTen.ttf');
}



* {
  margin : 0 ;
  font-size : 15px ;
  font-family : minecraft ;
  color : #ffffff ;
  text-shadow : 0px 0px 10px black ;
}



h1 {
 margin-top : 20px ;
 font-family : minecraft-ten ;
 font-weight : 100 ;
 font-size : 35px ;
 text-shadow : 1vw 1vw 0px #000022 ;
 text-align : left ;
}

p {
 margin : 0px 5vw ;
 text-shadow : 1vw 1vw 0px #000022 ;
 text-shadow : 0.5vw 0.5vw 0px #000022 ;
}

a {
 font-family : minecraft-ten ;
 margin-bottom : 20px ;
}



.centering-divs {
 margin : 10px 10vw 0px 10vw ;
 display : flex ;
 justify-content : space-evenly ;
 text-align : center ;
}

.options {
  background-color : rgba(0,0,0,0) ;
  display : flex ;
  justify-content : space-evenly ;
  align-items : center ;
  border : solid white 2px ;
  box-shadow : 0px 0px 20px 5px black inset , 0px 0px 20px 5px black ;
  width : 150px ;
  height : 150px ;
}

.vertical {
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  text-align : center ;
}

.imgs {
  margin-top : 20px ;
  margin-left : auto ;
  margin-right : auto ;
  z-index : -1 ;
  width : 25vw ;
  height : 25vw ;
  border : white solid 2px ;
  box-shadow : 0px 0px 20px 5px black inset , 0px 0px 20px 5px black ;
}

.small-imgs {
  width : 40% ;
  position : relative ;
  filter : drop-shadow(0px 0px 10px black) ; 
}

.para {
 margin-left : 5vw ;
}

.locked {
  display : none ;
}

.sub-heading {
  margin : 10vw 0vw 0px 10vw ;
}

.subtext {
  color : #a0a0a0ff ;
}



@property --hue1 {
 syntax : "<angle>" ;
 initial-value : 0deg ;
 inherits : false ;
}

@property --hue2 {
 syntax : "<angle>" ;
 initial-value : 60deg ;
 inherits : false ;
}



@keyframes bgcolor {
 0% {
  --hue1 : 0deg ;
  --hue2 : 60deg ;
 }
 
 100% {
  --hue1 : 360deg ;
  --hue2 : 420deg ;
 }
}



#bg {
 background : linear-gradient(to bottom right,hsl(var(--hue1),100%,12.5%),hsl(var(--hue2),100%,12.5%)) ;
 width : 100vw ;
 height : 100vh ;
 z-index : -2 ;
 position : fixed ;
 top : 0px ;
 left : 0px ;
 animation : bgcolor 30s linear 0s infinite normal ;
}

#main-heading {
 font-size : 50px ;
 text-align : center ;
}

#upload-box {
  display : inline-flex ;
  font-size : 35px ;
  color : grey ;
  text-shadow :
    -3px -3px 0 #000 ,  
     3px -3px 0 #000 ,
    -3px 3px 0 #000 ,
     3px 3px 0 #000 ,
     1vw 1vw 0px #000022 ;
  width : 60vw ;
  border : 3px dashed grey ;
  margin-left : auto ;
  margin-right : auto ;
  padding : 20px ;
  box-shadow :
    0px 0px 20px 5px #00000080 inset ,
    0px 0px 20px 5px #00000080 ,
    3px 3px 0px 0px #000 ,
    -3px 3px 0px 0px #000 ,
    3px -3px 0px 0px #000 ,
    -3px -3px 0px 0px #000 ;
}

#choose-eyes , #choose-eyebrows {
  -webkit-appearance : none ;
  height : 5px ;
  width : 40vw ;
  margin-left : auto ;
  margin-right : auto ;
  accent-color : green ;
  background : grey ;
  border : 3px solid black ;
  border-radius : 0px ;
}

#choose-eyes::-webkit-slider-thumb {
  -webkit-appearance : none ;
  appearance : none ;
  width : 25px ;
  height: 25px ;
  background : green ;
  border : 3px solid black ;
  border-radius: 0px ;
}

#choose-eyes::-moz-range-thumb {
  -webkit-appearance : none ;
  appearance : none ;
  width : 25px ;
  height: 25px ;
  background : green ;
  border : 3px solid black ;
  border-radius : 0px ;
}

#choose-eyebrows::-webkit-slider-thumb {
  -webkit-appearance : none ;
  appearance : none ;
  width : 25px ;
  height: 25px ;
  background : green ;
  border : 3px solid black ;
  border-radius : 0px ;
}

#choose-eyebrows::-moz-range-thumb {
  -webkit-appearance : none ;
  appearance : none ;
  width : 25px ;
  height: 25px ;
  background : green ;
  border : 3px solid black ;
  border-radius : 0px ;
}

#eye-note , #eyebrow-note {
  margin-top : 10px ;
}

#eye-preview , #eyebrow-preview {
  image-rendering : pixelated ;
  mask-size : 150px ;
  mask-origin : center ;
  mask-position : 1.75px 1.75px;
  border-color : #00000000 ;
}

#eye-back , #eye-for , #eyebrow-back , #eyebrow-for {
  width : 50px ;
  height : 50px ;
  margin : 10px ;
  background-color : #00000000 ;
  border-color : #00000000 ;
  font-size : 35px ;
  font-weight : 900 ;
  text-shadow :
   -3px -3px 0 #000 ,  
    3px -3px 0 #000 ,
    -3px 3px 0 #000 ,
     3px 3px 0 #000 ;
}

#eye-info , #eyebrow-info {
  margin : 10px ;
}

#cleanup-label , #surprised-label , #skin-color-label {
  display : flex ;
  text-align : left ;
}

#cleanup , #surprised {
  display : none ;
}

#cleanup-checkbox , #surprised-checkbox {
  visibility : hidden ;
  width : 12px ;
  height : 12px ;
  border : 3px solid black ;
  background-color : green ;
}

#cleanup-box , #surprised-box , #skin-color {
  border : 4px solid green ;
  outline : 3px solid black ;
  margin : 20px ;
}

[id="cleanup"]:checked + #cleanup-checkbox {
  visibility : visible ;
}

[id="surprised"]:checked + #surprised-checkbox {
  visibility : visible ;
}

#skin-color {
  border : 4px solid green ;
  width : 45px ;
  height : 40px ;
  background-color : black ;
  outline : 3px solid black ;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
#skin-color::-webkit-color-swatch {
  border: none;
}
#skin-color::-moz-color-swatch {
  border: none;
}

#download-btn {
  justify-content : center ;
  align-items : center ;
  text-align : center ;
  padding : 10px 20px ;
  font-family : minecraft-ten ;
  font-size : 25px ;
  background-color : green ;
  border : 3px solid black ;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#og-skin-face , #new-skin {
  image-rendering : pixelated ;
}

#new-skin {
  border : 3px solid white ;
  width : 80vw ;
  height : 80vw ;
  margin : 20px 0px ;
  box-shadow : 0px 0px 20px 5px black ;
}

#bottom-margin {
 height : 250px ;
}
